/************ID CSS***************/
#title {
  background-color: #B9A0E8;
  color: white;
  padding-bottom: 8%;
}

#features {
  text-align: center;
  background-color: white;
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

#testimonials {
  background-color: #B9A0E8;
  text-align: center;
  color: white;
}

#press {
  background-color: #B9A0E8;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
  line-height: 1.5;
}

#cta {
  text-align: center;
  background-color: #B9A0E8;
  padding: 3% 15%;
  margin-bottom: 0;
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: 900;
  color:white;
}

#footer {
  padding-top: 5%;
  text-align: center;
  background-color: #fff;
}

/************HTML CSS***********/
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

body {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: #B9A0E8;
  margin-bottom: 10%;
}

span:hover {
  color: #B9A0E8;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3rem;
}

/**********Class CSS***************/
.container-fluid {
  padding: 3% 10%;
}

.imageFront{
  display: block;
  margin: 0 auto;
  width: 75%;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.navbar-nav {
  font-size: 1.2rem;
}

.navbar {
  padding: 0 0 10% 0;
}

.nav-item {
  padding: 0 16px;
}

.downloadButton {
  margin: 3% 5% 5% 0;
}

.col-lg-6 {
  padding-bottom: 3rem;
}

.featurex3 {
  padding: 5%;
}

.testimonialImage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.brandImage {
  padding: 20px 20px 50px;
  width: 15%;
}

.carousel-item {
  padding: 7% 15%;
}

.price-box {
  padding: 3%;
}

.Copyright {
  color: grey;
  padding-bottom: 2rem;
}

.logofoot {
  padding: 0 1% 2%;
}

/* Media Query */
@media (max-width:1080px) {
  .frontImage {
    position: static;
    transform: none;
  }

  #title {
    text-align: center;
  }
}
